extends layout

block content
    div.submissions-container
    h2 Submissions

    for pair in pairs
        div.row.submissions-row
            for submission in pair 
                div.col-sm-6
                    h4 #{submission.name} has #{submission.votes} votes
                    <iframe width="500" height="300" src="#{submission.videoUrl}" frameborder="0" allowfullscreen></iframe>
                    div.voting-row
                        a.btn(href="/vote/#{submission.name}" name="vote") Vote